* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0e2517;
}
.nav {
  background-color: rgb(53, 23, 50);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.right-content {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-left: auto;
}

.right-content a {
  color: #dad9d9;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1c4d2f;
}
.right-content a:hover {
  color: #fffefe;
  background-color: #13331f;
}
.logo {
  color: #fffefe;
  text-decoration: none;
}
.logo:hover {
  text-shadow: 0 0 10px #fff; /* Svetlucanje belom bojom */
}
